mat-toolbar {
    background-color: rgb(255, 38, 38);
    color: rgb(0, 0, 0);
    height: 100px;
    font-size: 2.5em;
    font-family: FontTitles;
}

.material-icons {
    font-size: 50px;
    width: 50px;
    height: 50px;
}
