mat-toolbar {
    background-color: rgb(255, 38, 38);
    color: rgb(0, 0, 0);
    height: 130px;
    font-size: 3.3em;
    font-family: FontTitles;
}

.material-icons {
    font-size: 70px;
    width: 70px;
    height: 70px;
}

a {
    color: black;
    text-decoration: none;
    transition: border-bottom 0.3s ease-in-out;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: FontTitles;
}