<header>
    <mat-toolbar>
        <a href="http://localhost:4200/"><img src="../../../../assets/iconos/F1-Formula-1.png"></a>
        <div class="idiomas">
            <span (click)="setLanguage('esp')"><img src="../../../../assets/flags/48/Spanish.png"></span>
            <span (click)="setLanguage('en')"><img src="../../../../assets/flags/48/British.png"></span>
            <span><img src="../../../../assets/flags/48/French.png"></span>
            <span><img src="../../../../assets/flags/48/Italian.png"></span>
            <span><img src="../../../../assets/flags/48/German.png"></span>
        </div>
    </mat-toolbar>
</header>