<mat-chip-listbox class="chip" aria-label="selectedYear">
    <mat-chip-option color="warn" *ngFor="let year of years" (click)="onYearSelected(year)">{{ year }}</mat-chip-option>
</mat-chip-listbox>

<section class="circuitos">
    <mat-card class="card" *ngFor="let circuito of circuitos">
        <mat-card-header class="header">
            {{ circuito.nombre }}
        </mat-card-header>
        <mat-card-content class="content">
            <p><img src="../../../../assets/flags/circuits/{{ circuito.pais }}.png"></p>
        </mat-card-content>
        <mat-card-content>
            <img width="350" height="220" src="../../../../assets/circuitos/{{ circuito.ciudad }}.png">
            <p>{{ traducirCiudad (circuito.ciudad) }}, {{ traducirPais(circuito.pais) }}</p>
        </mat-card-content>
        <mat-card-actions class="actions">
            <a mat-raised-button color="warn" href="{{circuito.url}}" target="_blank">Más Información</a>
        </mat-card-actions>
    </mat-card>
</section>
