<mat-chip-listbox class="chip" aria-label="selectedYear">
    <mat-chip-option color="warn" *ngFor="let year of years" (click)="onYearSelected(year)">{{ year }}</mat-chip-option>
</mat-chip-listbox>

<div class="titulo">{{traducirMiscelanea('TEMPORADAS')}}
    <a href="http://localhost:4200/" class="inicio">{{traducirMiscelanea('INICIO')}}</a>
</div>

<table class="tablaResultados">
    <thead>
        <tr>
            <th>{{traducirMiscelanea('POSICION')}}</th>
            <th>{{traducirMiscelanea('NOMBRE')}}</th>
            <th>{{traducirMiscelanea('ESCUDERIA')}}</th>
            <th>{{traducirMiscelanea('VICTORIAS')}}</th>
            <th>{{traducirMiscelanea('PUNTOS')}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let piloto of pilotos">
            <td>{{ piloto.posicion }}</td>
            <td>{{ piloto.nombre }} {{ piloto.apellido }}</td>
            <td>{{ piloto.escuderia }}</td>
            <td>{{ piloto.victorias }}</td>
            <td>{{ piloto.puntos }}</td>
        </tr>
    </tbody>
</table>