.temporadasTable {
    margin-left: 30px;
    margin-top: 200px;
    margin-bottom: 100px;
}

.chip {
    padding: 10px;
    background-color: whitesmoke;
    position: fixed;
    top: 130px;
    width: 100%;
    font-family: FontTitles;
}
