<div class="titulo">Inicio</div>

<div class="grid-container">
    <mat-grid-list cols="2" rowHeight="3:1" style="margin-top: 50px;">
        <mat-grid-tile>
            <a href="http://localhost:4200/pilotos">
                <div class="grid-tile-content" style="margin-right: -450px;">
                    <img src="../assets/iconos/pilotos.png">
                    <span>Pilotos</span>
                </div>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="http://localhost:4200/escuderias">
                <div class="grid-tile-content" style="margin-left: -450px;">
                    <img src="../assets/iconos/escuderias.png">
                    <span>Escuderias</span>
                </div>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="http://localhost:4200/circuitos">
                <div class="grid-tile-content" style="margin-right: -450px;">
                    <img src="../assets/iconos/circuitos.png">
                    <span>Circuitos</span>
                </div>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="http://localhost:4200/temporadas">
                <div class="grid-tile-content" style="margin-left: -450px;">
                    <img src="../assets/iconos/temporadas.png">
                    <span>Temporadas</span>
                </div>
            </a>
        </mat-grid-tile>
    </mat-grid-list>
</div>
