<div class="grid-container">
    <mat-grid-list cols="2" rowHeight="3:1" style="margin-top: 50px;">
        <mat-grid-tile>
            <div class="grid-tile-content" style="margin-right: -450px;">
                <img src="../assets/pilotos.png">
                <span>Pilotos</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="grid-tile-content" style="margin-left: -450px;">
                <img src="../assets/escuderias.png">
                <span>Escuderias</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="grid-tile-content" style="margin-right: -450px;">
                <img src="../assets/circuitos.png">
                <span>Circuitos</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="grid-tile-content" style="margin-left: -450px;">
                <img src="../assets/temporadas.png">
                <span>Temporadas</span>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
