/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: whitesmoke;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: 'FontTitles';
    src: url('assets/Formula1-Bold_web_0.ttf');
}

@font-face {
    font-family: 'FontRegular';
    src: url('/assets/Formula1-Regular_web_0.ttf');
}
