<section class="pilotos">
    <mat-card class="card" *ngFor="let piloto of pilotos">
        <mat-card-header class="header">
            {{ piloto.nombre }} {{piloto.apellido}}
        </mat-card-header>
        <mat-card-content class="content">
            <p>Nacionalidad: {{ traducirNacionalidad(piloto.nacionalidad) }}</p>
            <img src="../../../../assets/flags/64/{{ piloto.nacionalidad }}.png">
            <p><img class="pilotosImg" src="../../../../assets/pilotos/{{ piloto.pilotoId }}.png"></p>
        </mat-card-content>
        <mat-card-content>
            <p>Dorsal: {{ piloto.dorsal}} </p>
            <p>Fecha de nacimiento: {{ piloto.fecha }}</p>
        </mat-card-content>
        <mat-card-actions class="actions">
            <a mat-raised-button color="warn" href="{{piloto.url}}" target="_blank">Más Información</a>
        </mat-card-actions>
    </mat-card>
</section>
