section.pilotos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-top: 170px;
    margin-bottom: 70px;
    z-index: 0;
}

.titulo {
    font-family: FontTitles;
    font-size: 2em;
    position: fixed;
    top: 130px;
    left: 30px;
    width: 100%;
    padding: 10px;
    background-color: whitesmoke;
    z-index: 1;
}

.inicio {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    margin-left: 1850px;
    margin-right: auto;
    text-decoration: underline;
}

.pilotosImg {
    width: 300px;
    height: 300px;
    margin-left: 70px;
}

.card {
    margin: 12px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    max-width: 500px;
    max-height: 630px;
    width: 100%;
}

.card:hover {
    transform: translateY(-20px);
}

.header {
    margin-top: 10px;
    font-size: 35px;
    font-family: FontTitles;
}

.content {
    padding: 16px;
}

p {
    font-size: 24px;
    margin-bottom: 16px;
    font-family: FontRegular;
}

.actions {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    z-index: 0;
}

.actions a {
    text-decoration: wavy;
    font-family: FontRegular;
    font-size: 17px;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
}

.actions a:hover {
    background-color: #bb2e21;
}
