<mat-chip-listbox aria-label="Year selection">
    <mat-chip-option selected>2023</mat-chip-option>
    <mat-chip-option selected>2022</mat-chip-option>
    <mat-chip-option selected>2021</mat-chip-option>
    <mat-chip-option selected>2020</mat-chip-option>
    <mat-chip-option selected>2019</mat-chip-option>
    <mat-chip-option selected>2018</mat-chip-option>
    <mat-chip-option selected>2017</mat-chip-option>
    <mat-chip-option selected>2016</mat-chip-option>
    <mat-chip-option selected>2015</mat-chip-option>
</mat-chip-listbox>