.chip {
    padding: 10px;
    background-color: whitesmoke;
    position: fixed;
    top: 130px;
    width: 100%;
    font-family: FontTitles;
    z-index: 1;
}

mat-chip-option {
    font-family: FontTitles;
    font-size: 1.1em;
}

section.escuderias {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-top: 200px;
    margin-bottom: 70px;
    z-index: 0;
}

.cardDiv {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex-basis: calc(33% - 24px);
    margin: 12px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    max-height: 1030px;
    width: 100%;
    z-index: 0;
}

.header {
    font-size: 24px;
    font-family: FontTitles;
    padding: 16px;
}

.content {
    padding: 16px;
    display: flex;
}

.escuderiaInfo {
    flex: 0 0 300px;
    margin-right: 20px;
}

.escuderiaInfo p {
    font-size: 18px;
    margin-bottom: 8px;
    font-family: FontRegular;
}

.escuderiaImg {
    width: 100%;
    height: auto;
    width: 300px;
    height: 300px;
    margin-top: 10px;
}

.pilotos {
    flex: 1;
    margin-left: 30px;
    margin-top: 10px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    z-index: 0;
}

.actions a {
    text-decoration: wavy;
    font-family: FontRegular;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
}

.actions a:hover {
    background-color: #bb2e21;
}

.pilotoNombre {
    font-size: 20px;
    font-family: FontTitles;
}

p {
    font-size: 20px;
    margin-bottom: 16px;
    font-family: FontRegular;
}