<mat-chip-listbox class="chip" aria-label="selectedYear">
    <mat-chip-option color="warn" *ngFor="let year of years" (click)="onYearSelected(year)">{{ year }}</mat-chip-option>
</mat-chip-listbox>

<div class="titulo">Escuderias
    <a href="http://localhost:4200/" class="inicio">Inicio</a>
</div>


<section class="escuderias">
    <div class="cardDiv">
        <mat-card class="card" *ngFor="let escuderia of escuderias">
            <div class="header">
                {{ escuderia.nombre }}&nbsp;&nbsp;
                <img src="../../../../assets/flags/64/{{ escuderia.nacionalidad }}.png">
            </div>
            <div class="content">
                <div class="escuderiaInfo">
                    <img class="escuderiaImg" src="../../../../assets/escuderias/{{ escuderia.escuderiaId }}.png">
                </div>
                <div class="pilotos">
                    <div *ngFor="let piloto of getPilotosByEscuderiaId(escuderia.escuderiaId); let i = index">
                        <div *ngIf="i < 2">
                            <p class="pilotoNombre">Piloto {{ i + 1 }}</p>
                            <p>{{ piloto.nombre }} {{ piloto.apellido }} ({{ piloto.dorsal }})</p>
                            <p><img class="pilotoFlag" src="../../../../assets/flags/48/{{ piloto.nacionalidad }}.png"></p>
                            <img style="width: 130px; height: 130px;" src="../../../../assets/pilotos/{{ piloto.pilotoId }}.png">
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
            <mat-card-actions class="actions">
                <a mat-raised-button color="warn" href="{{ escuderia.url }}" target="_blank">Más Información</a>
            </mat-card-actions>
        </mat-card>
    </div>
</section>
